{% extends 'options/registered_details.html'%}
{% block disp%}

{%for i in reg%}
{% if filter == i.event_or_workshop%}
<table class="table-fixed">
    <thead>
      <tr>
        <th> {{i.event_or_workshop}} </th>
        {% comment %} <th>Artist</th>
        <th>Year</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{i.user}}</td>
        {% comment %} <td>Malcolm Lockyer</td>
        <td>1961</td> {% endcomment %}
      </tr>
    </tbody>
</table>

{% comment %} {{i.user}} {% endcomment %}
{% comment %} {{i.event_or_workshop}} {% endcomment %}
<br>
{%endif%}
{% endfor%} 
{% if filter == "ALL"%}
{% for i in reg%}
<table class="table-fixed">
    <thead>
      <tr>
        <th> {{i.event_or_workshop}} </th>
        {% comment %} <th>Artist</th>
        <th>Year</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{i.user}}</td>
        {% comment %} <td>Malcolm Lockyer</td>
        <td>1961</td> {% endcomment %}
      </tr>
    </tbody>
</table>
{% comment %} {{i.user}} {% endcomment %}
{% comment %} {{i.event_or_workshop}} {% endcomment %}
<br>

{%endfor%}
{% endif%}

{%endblock%}