{% extends "home.html"%}
{% block cont %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tailwind css  carousel autoplay slider with arrow and indicators.</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>

  <body>
    <h1 class="font-bold text-3xl flex justify-center">MAKE YOUR TICKETS FAST ..</h1><br>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="object-cover w-full aspect-4/3 rounded-2xl"
            src="https://i.ytimg.com/vi/1B-5hs2oGTw/maxresdefault.jpg"
            alt="apple watch photo"
          />
          <a href="{% url 'booking' select='1' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-4 px-10 mr-2 mb-12 mt-16 ml-80 focus:outline-none absolute top-1/2 left-1/4  ">BOOK NOW</a>
	
        </div>
        <div class="swiper-slide">
          <img
            class="object-cover w-full aspect-4/3 rounded-2xl"
            src="https://res.cloudinary.com/dwzmsvp7f/image/fetch/q_75,f_auto,w_1316/https%3A%2F%2Fmedia.insider.in%2Fimage%2Fupload%2Fc_crop%2Cg_custom%2Fv1690978978%2Fwbn4zqhreobszeavnfid.jpg"
            alt="apple watch photo"
          />
          <a href="{% url 'booking' select='2' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-4 px-10 mr-2 mb-12 mt-16 ml-80 focus:outline-none absolute top-1/2 left-1/4">BOOK NOW</a>
	
        </div>
        <div class="swiper-slide ">
          <img
            class="object-cover w-full aspect-4/3 rounded-2xl"
            src="https://res.cloudinary.com/dwzmsvp7f/image/fetch/q_75,f_auto,w_1316/https%3A%2F%2Fmedia.insider.in%2Fimage%2Fupload%2Fc_crop%2Cg_custom%2Fv1663129655%2Fdjneh8jncpg9bjprosiz.jpg"
            alt="apple watch photo"
          />
          <a href="{% url 'booking' select='3' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm  p-4 px-10 mr-2 mb-12 mt-16 ml-80 focus:outline-none absolute top-1/2 left-1/4">BOOK NOW</a>

          
          {% comment %} <a href="absolute top-0 bg-blue-500 text-white p-2 rounded hover:bg-blue-800 m-2">hello</a> {% endcomment %}
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper('.mySwiper', {
        spaceBetween: 40,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    </script>
  </body>
</html>

{% endblock %}
