{% extends 'base.html' %}

{% block content %}

{% for i in reg %}
    
    {{i.event_name}}
    <a> // </a>

{% endfor%}
<form id="form" method ="POST">
  {% csrf_token %}
  <h1>GENERAL REGISTRATION</h1><br>  
  
  NAME OF THE CANDIDATE  :<input type="text" name="name"/><br>
  EMAIL ADDRESS&nbsp;&nbsp;:<input type="email" name="email"/><br>
  GENDER&nbsp;&nbsp;&nbsp;:<select name="gender" >
    <option value="male">male</option>
    <option value="female">female</option>  
  </select>
  <br>
  MOBILE NUMBER&nbsp;&nbsp;&nbsp;:<input type="number" name="mobile"/><br>
  COLLEGE&nbsp;&nbsp;&nbsp;:<input type="text" name="college"/><br>
  YEAR OF STUDY&nbsp;&nbsp;&nbsp;:<select name="year" >
    <option value="First year">1st year</option>
    <option value="Second year">2nd year</option> 
    <option value="Third year">3rd year</option> 
    <option value="Final year">4th year</option>  
  </select>
  <br>
  
  
  
  
  
  EVENTS  : <select name="events_name" >
    {% for i in reg %}
      <option value={{i.event_name}}>{{i.event_name}}</option>
      {% endfor%}
    </select>  
    
    <br>
    <button value="submit">submit</button>
</form>


{% endblock content%}