{% extends 'base.html' %} 
{% block content %}

 {% comment %} {% for i in reg %}
{{i.event_name}}
<a> // </a>
{% endfor%}  {% endcomment %}
{% for message in messages %}
<div class="flex justify-between bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 mb-5 shadow-md" role="alert">
  <div class="flex">
      <div class="py-1">
          <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
      </div>
      <div class="" >{{ message }}</div>     
  </div>
      <div>
          <a class="close" href="{% url 'profile'%}" data-dismiss="alert">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
          </a>                   
      </div> 
</div>
{% endfor %}
<form method="POST">

  
  
  {% csrf_token %} 
  

  {% for j in profile %}
  {% comment %} {{j.user}} {% endcomment %}
  {% comment %} <h1>{{ j.pk }}</h1> {% endcomment %}

  {% if  user == j.user %} 

  {% csrf_token%}
  <div id = 'form-container' class="container w-1/2 mx-auto bg-teal-300 rounded-2xl text-bold text-gray-900 shadow-lg">
    <div class="flex justify-center font-bold text-2xl pt-10">
      <h1>PROFILE</h1>
    </div>
  <div class="flex justify-center pt-10 pb-5">
    <p class="pr-5">
      NAME OF THE CANDIDATE :
    </p>

    <input type="text" name="name" value="{{j.name }}" readonly/><br />
  </div>
  <div class="flex justify-center  pb-5">
    <p class="pr-5">
      EMAIL ADDRESS :
    </p>

    <input
      type="email"
      name="email"
      value="{{j.email_address}}"
      readonly
    /><br />
  </div>
  
  <div class="flex justify-center  pb-5">
    <p class="pr-5">
      GENDER :
    </p>

    <select name="gender" >
      <option value="{{j.gender}}">{{j.gender}}</option>
    </select>
  </div>
  
  <div class="flex justify-center  pb-5">
    <p class="pr-5">
      MOBILE NUMBER :
    </p>

    <input
    type="number"
    name="mobile"
    value="{{j.mobile}}"
    readonly
    /><br />
    
  </div>
  <div class="flex justify-center  pb-5">
    <p class="pr-5">
      COLLEGE :
    </p>

    <input
    type="text"
    name="college"
    value="{{j.college}}"
    readonly
  /><br />
    
  </div>

  <div class="flex justify-center  pb-5">
    <p class="pr-5">
      YEAR :
    </p>

    <select
    name="year"
    value="{{j.year_of_study}}">
    <option value=" {{j.year_of_study}}"> {{j.year_of_study}}</option>

  </select>
    
  </div>
  
  <div class="flex justify-center pb-10 pt-5">

    <a href="{% url 'update' j.pk %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">Update</a>
    <a href="{% url 'delete' j.pk %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">Delete</a>
    
  
  </div>

</form>
{%endif%}
{%endfor%} 
{% if not_found == 1 %}

<form method="POST">
  {% csrf_token%}
<div id = 'form-container' class="container w-1/2 mx-auto bg-teal-300 rounded-2xl text-bold text-gray-900 shadow-lg">
  <div class="flex justify-center font-bold text-2xl pt-10">
    <h1>PROFILE</h1>
  </div>
<div class="flex justify-center pt-10 pb-5">
  <p class="pr-5">
    NAME OF THE CANDIDATE :
  </p>

  <input type="text" name="name" /><br />
</div>
<div class="flex justify-center  pb-5">
  <p class="pr-5">
    EMAIL ADDRESS :
  </p>

  <input
    type="email"
    name="email"
   
   
  /><br />
</div>

<div class="flex justify-center  pb-5">
  <p class="pr-5">
    GENDER :
  </p>

  <select name="gender" >
    <option value="male">male</option>
    <option value="female">female</option>

  </select>
</div>

<div class="flex justify-center  pb-5">
  <p class="pr-5">
    MOBILE NUMBER :
  </p>

  <input
  type="number"
  name="mobile"
  /><br />
  
</div>
<div class="flex justify-center  pb-5">
  <p class="pr-5">
    COLLEGE :
  </p>

  <input
  type="text"
  name="college"
/><br />
  
</div>

<div class="flex justify-center  pb-5">
  <p class="pr-5">
    YEAR :
  </p>

  <select
  name="year">
  <option value="First year">First year</option>
  <option value="Second year">Second year</option>
  <option value="Third year">Third year</option>
  <option value="Final year">Final year</option>

</select>
  
</div>

<div class="flex justify-center pt-5 pb-10">

  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">submit</button>
</div>
      
</form>
    
{%endif%}
</div>


{% endblock %}
