{% extends 'base.html' %} {% block content %}

<h2 style="font-size: 2rem">ROOM ACCOMADATION</h2>

<p>
  * Only limited accommodation is available. Accommodation will be provided on
  first come basis<br />
  * The accommodation fee per day will be Rs.400 (inclusive of breakfast).<br />
  * The receipt of payment will be the entry pass into the hostel. It should be
  produced during checkout. Loss of the receipt will incur fine of Rs.100<br />
  * Each person will be provided with a mat and a pillow<br />
  * Participants must take care of their belongings. The institution will not be
  responsible.<br />
  * When exceeding 24hrs of stay in the hostel, they should pay an additional
  fee for the second day.<br />
  * Alcohol/Smoking/Substances are strictly prohibited and will be dealt ith
  Zero Tolerance Policy<br />
  * The occupants are expected to conduct themselves in a professional manner
  and any misbehavior/violence will not be encouraged.<br />
  * Strict action will be taken if the hostel property is damaged.<br />
  * Online payment is encouraged.<br />
  * Proper dress code is encouraged in the hostel premises.<br />
  * Occupants should be in the room before 10 pm.<br />
  * Late Entry will not be entertained.<br />
  * No Refund will be provided.<br />
  * Occupants are not allowed to switch rooms<br />
  <br />
  For Queries Contact 📞:<br />
  &nbsp;&nbsp;&nbsp; Girls: 9442223987<br />
  &nbsp;&nbsp;&nbsp; Boys: 9442646620<br />
</p>

{% endblock %}
