{% extends 'base.html'%}
<!DOCTYPE html>

{% block content%}  
{% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
<html>  
 
<h2 class="flex justify-center font-bold text-3xl mr-14 mb-10">WORKSHOPS</h2>
  <form>
    <ul>
      {% for i in workshop%}
        <li class ="box-decoration-clone bg-gradient-to-r from-indigo-600 to-pink-500 text-white flex justify-center p-5 px-4 rounded-2xl" ><a href= "/{{i.workshop_name}}"  style="color: white;" >{{ i.workshop_name }}</a></li><br>  
      {% endfor %}
    </ul>
  </form>
</html>
    
{% endblock content%}